// gcc {{ driver_name }}.c {{ function_name }}.c -o {{ driver_name }}
#include "{{ function_name }}.h"

// Allocate memory for inputs and outputs
{% for input in inputs %}
{{ input.type }} {{ input.name }}{% if input.dims %}[{{ input.dims }}]{% endif %} = {{ input.initial_value }};{% if input.description %}  // {{ input.description }}{% endif %}

{% endfor %}

{% for output in outputs %}
{{ output.type }} {{ output.name }}{% if output.dims %}[{{ output.dims }}]{% endif %} = {0};{% if output.description %}  // {{ output.description }}{% endif %}

{% endfor %}

// Prepare pointers to inputs, outputs, and work arrays
const {{ float_type }}* arg[{{ function_name }}_SZ_ARG] = {0};
{{ float_type }}* res[{{ function_name }}_SZ_RES] = {0};
{{ int_type }} iw[{{ function_name }}_SZ_IW];
{{ float_type }} w[{{ function_name }}_SZ_W];

int main(int argc, char *argv[]) {
    // Set up input arguments
    {% for input in inputs %}
    arg[{{ loop.index0 }}] = {% if input.is_addr %}&{% endif %}{{ input.name }};
    {% endfor %}
    
    // Set up output arguments
    {% for output in outputs %}
    res[{{ loop.index0 }}] = {% if output.is_addr %}&{% endif %}{{ output.name }};
    {% endfor %}

    // Call the function
    {{ function_name }}(arg, res, iw, w, 0);
    
    return 0;
}